
<div class="row">
    <div class="col-12">
        <h3 class="text-danger">Privacy Terms</h3>﻿
        <p class="text-success">Use this page to detail your site's privacy policy.</p>
    </div>
</div>

